<h1 mat-dialog-title>{{accionTitle}} Employee</h1>
<div mat-dialog-content>
  <form [formGroup]="formEmployee">
    <mat-grid-list cols="1" rowHeight="80px">
      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>Full Name</mat-label>
          <input id="fullName" matInput formControlName="fullName" autocomplete="off">
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>Department</mat-label>
          <mat-select id="department" formControlName="departmentId">
            <mat-option *ngFor="let item of DepartmentList" [value]="item.idDepartment">
              {{item.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>Salary</mat-label>
          <input id="salary" matInput formControlName="salary" autocomplete="off" type="number">
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>Contract Date</mat-label>
          <input id="contractDate" matInput [matDatepicker]="picker" formControlName="contractDate">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </mat-grid-tile>

    </mat-grid-list>
  </form>

</div>
<div mat-dialog-actions>
  <button mat-raised-button mat-dialog-close color="warn">Close</button>
  <button mat-raised-button id="save" color="primary" 
   (click)="addEditEmployee()"
   [disabled]="formEmployee.invalid">
    {{accionButton}}</button>
</div>
